@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #08AEEA;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#08AEEA), to(#2AF598));background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
    width: 75%;
    height: 75vh;
    margin: 5% auto;
    border-radius: 40px;
    background: #2ab1e2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #2ab1e2), color-stop(25%, white));
    background: linear-gradient(180deg, #2ab1e2 20%, white 25%);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}

.header {
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  height: 20%;
  color: white;
}

.list__display {
  margin-top: 20px;
  display: flex;
  font-size: 2vw;
}

h5{
  color: #146b1c;
  padding-bottom: 15px;
  text-decoration: underline;
  text-align: center;
}

.list__grocery {
  flex: 50%;
  padding-left: 20px;
  padding-right: 5px;
}

.list__cart{
  padding-top: 60px;
  flex: 50%;
  padding-left: 5px;
  padding-right: 20px;
}

.removeBtn {
  outline: none;
  border: none;
  background-color: #f76c5f;
  padding: 12px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.removeBtn:hover{
  background-color: #f3938a;
}

.input{
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  margin-left: 50px;
}

.input__field {
  border-radius: 40px;
  padding-right: 50px;
  padding-left: 20px;
  font-size: 2vw;
  outline: none;
}

.input__btn{
  border: none;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  background-color: #b0eeb5;
  padding: 15px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.input__btn:hover{
  background-color: #93f89b;
}

li{
  display: flex;
  list-style-type: none;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  text-transform:capitalize;
  justify-content: space-between;
  background: #d8faff;
  padding-left: 20px;
}

li:last-child{
  margin-bottom: 0px;
}

.list__grocery li:nth-child(odd){
  background: #8fd8f3;
}

.list__cart li:nth-child(even) {
  background: #8fd8f3;
}

.list__grocery li span{
  padding-left: 20px;
  background-color:  #b0eeb5;
  cursor: pointer;
  padding-right: 20px;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
}

.list__grocery li span:hover{
  filter: brightness(150%);
}
.list__cart li span{
  font-size: 1.5vw;
  padding-right: 20px;
  padding-top: 7px;
  font-style: italic;
}